
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 226, 148);
  margin-bottom: 5rem;
}

/*container for everything*/
.container {
  margin-top: 2rem;
  margin-left: 2rem;
}

/*Style for the search form at the top of the page*/
.book-search-form {
  margin-top: 2rem;
}

.book-search-form input {
  margin-bottom: 1rem;
}



/*container for all books*/
#booksList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/*line up books side by side */
.book {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  width: 12rem;
  background-color: white;
  align-items: center; 
  padding: 1rem;
  border-radius: 0.5rem;
}

/*Styles inside the book div*/
.book .book-title {
  min-height: 12rem;
}

.book .bk-img-container {
  min-height: 15rem;
}

#booksNav {
  margin-top: 2rem;
  margin-left: 30rem;
}
